<template>
  <div>
    <v-card
      max-width="500"
      color="#032e74"
      class="mx-auto">
      <v-card-title class="align-end fill-height white--text">What is this?</v-card-title>
      <v-card-text class="white--text">In this application You can vote on the tracks of one of your favourite playlist: Golden Days of EDM.
      </v-card-text>
      <v-card-text class="white--text">All You need to do is pick 5 songs from the playlist, order them, and cast your votes by your Facebbok account or email address.</v-card-text>
      <v-card-text class="white--text">As soon as you casted your votes the Playlist gets ordered by Your choices in real time (and of course the other people's choices who also using the application).</v-card-text>
      <v-card-text class="white--text">So in the end the playlist's song order will match all of the participants' taste.</v-card-text>
      <v-card-actions class="justify-center white--text">
        <v-btn @click="donationOn = !donationOn"
               v-if="!donationOn"> Donate
        </v-btn>
        <div v-if="donationOn">
          <script src="https://donorbox.org/widget.js" paypalExpress="true"></script>
          <iframe allowpaymentrequest="" frameborder="0" height="600px" name="donorbox" scrolling="no" seamless="seamless"
                  src="https://donorbox.org/embed/golden-days-of-edm?default_interval=o&amount=5&hide_donation_meter=true"
                  style="max-width: 500px; min-width: 310px; max-height:none!important" width="80%"></iframe>
        </div>
      </v-card-actions>


    </v-card>
  </div>
</template>

<script>
  export default {
    data: () => ({
      donationOn: false,
    }),
  }
</script>

<style scoped>

</style>
