<template>
  <div>
    <v-card
      max-width="500"
      color="#032e74"
      class="mx-auto">
      <v-alert v-if="votesEnabled" type="success">
        Success! Votes activated!
      </v-alert>
      <v-alert v-if="votesError" type="warning">
        Wrong or used activation code!
      </v-alert>
      <router-link to="/" class="main-title">
        <v-btn class="backbtn">
          Back
        </v-btn>
      </router-link>
    </v-card>
  </div>

</template>

<script>

  import Api from '@/service/api'

  export default {
    data: () => ({
      votesEnabled: false,
      votesError: false,
    }),
    mounted: function () {
      Api().get('/vote/enableVotes/' + this.$route.params.code).then(() => {
        this.votesEnabled = true;
      }).catch(() => {
        this.votesError = true;
      });
    }
  }

</script>

<style>
  .backbtn {
    margin: 15px;
  }
</style>
