<template>
  <div class="playlist-top-list-card">
    <v-card
      max-width="500"
      color="#032e74"
      class="mx-auto">
      <v-card
        max-width="500"
        color="#032e74"
        class="mx-auto"
        :flat="flat"
        :loading="loading"
        :outlined="outlined"
        :elevation="elevation"
        :raised="raised"
        :height="height"
      >
        <v-list id="songList" color="#032e74" flat>
          <v-list-item-group>
            <template v-for="(song, index) in topListSongs">
              <v-list-item :key="song.id">
                <div class="white--text" :style="index === 9 ? {'margin-right': '15px'} : {'margin-right': '25px'} "><h3>{{ index + 1 }}</h3></div>
                <template>
                  <v-list-item-content class="white--text">
                    <v-list-item-title class="white--text" v-text="song.artist">asd</v-list-item-title>
                    <v-list-item-subtitle class="white--text song-title" v-text="song.title"></v-list-item-subtitle>
                  </v-list-item-content>


                </template>
              </v-list-item>
              <v-divider
                v-if="index + 1 < topListSongs.length"
                :key="index"
              ></v-divider>
            </template>
          </v-list-item-group>
        </v-list>

      </v-card>
    </v-card>
  </div>
</template>

<script>
  import Api from '@/service/api'

  export default {
    data: () => ({
      flat: true,
      media: true,
      loading: false,
      actions: true,
      outlined: true,
      elevation: undefined,
      raised: false,
      width: 344,
      height: 500,
      topListSongs: []
    }),
    mounted: function () {
      Api().get(process.env.NODE_ENV !== 'production' ? '/song/getTop10Songs/2918' : '/song/getTop10Songs/195').then(({data}) => {
        this.topListSongs = data;
      });
    }
  }
</script>

<style>
  .playlist-top-list-card {
    margin-bottom: 25px;
  }
  .v-list-item__content {
    padding: 0
  }
  .song-title {
    color: white;
    opacity: 0.7;
  }
</style>
