<template>
  <div class="playlist-card">
    <v-card
      max-width="500"
      color="#032e74"
      class="mx-auto">
      <v-card
        max-width="500"
        class="inner-playlist-card mx-auto"
        color="#032e74"
        href="https://open.spotify.com/playlist/0Q6V3aN81HdLPhYPHSpSdi?si=V2WleWamQ7yn7CSgHu47BQ"
        target="_blank"
        :flat="flat"
        :loading="loading"
        :outlined="outlined"
        :elevation="elevation"
        :raised="raised"
        :width="width"
        :height="height"
      >
        <v-img
          v-if="media"
          class="playlist-img white--text"
          :src="playlist.imageUrl"
        >
          <v-card-title class="align-end fill-height">{{ playlist.title }}</v-card-title>
        </v-img>
        <v-card-text class="playlist-followers white--text">{{ playlist.followers }} followers</v-card-text>
        <div class="songs-length">{{ playlist.songsLength }} songs</div>
        <v-card-actions class="justify-center" v-if="actions">
          <div class="banner alertPulse-css">{{ voteCount }} already voted</div>
        </v-card-actions>
      </v-card>
    </v-card>
  </div>
</template>

<script>
  import Api from '@/service/api'

  export default {
    props: {
      playlist: {
        type: Object,
        required: true
      }
    },
    data: () => ({
      flat: true,
      media: true,
      loading: false,
      actions: true,
      outlined: false,
      elevation: undefined,
      raised: false,
      width: 344,
      height: 500,
      voteCount: null,
    }),
    mounted() {
      Api().get(process.env.NODE_ENV !== 'production' ? '/vote/allVotesCount/2918' : '/vote/allVotesCount/195').then((res) => {
        this.voteCount = res.data;
      }).catch(() => {

      });
    }
  }
</script>

<style scoped>
  .v-input__slider {
    width: 100%;
  }

  .inner-playlist-card {
    padding-top: 15px;
  }

  .playlist-img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 15px;
  }

  .playlist-followers {
    text-align: center;
    opacity: 0.7;
  }

  .playlist-card {
    margin-bottom: 25px;
  }

  .songs-length {
    text-align: center;
    color: white;
  }

  .alertPulse-css {
    animation: alertPulse 2s ease-out;
    animation-iteration-count: infinite;
    opacity: 1;
    background: #1DB954; /* you need this to specify a color to pulse to */
  }

  .banner {
    border-radius: 10px;
    color: white;
    text-align: center;
    padding: 5px;
  }
</style>
