<template>
  <social-sharing url="https://goldeandaysofedm.com"
                  title="Golden Days of EDM"
                  description=""
                  quote="I control my favourite EDM playlist track order by voting"
                  hashtags="EDM"
                  inline-template>
    <div>
      <network network="facebook">
        <div class="share">
           Share
        </div>
      </network>
    </div>
  </social-sharing>

</template>

<script>

  export default {
    data: () => ({

    })
  }
</script>

<style>
  .share {
    background-color: #3c57a4;
    color: white;
    width: 35%;
    padding: 5px;
    cursor: pointer;

    margin: auto;
  }
</style>
