<template>
  <v-card
    v-if="active && selectedTracks.length > 0"
    class="selected-songs-preview">
    <div v-for="(value, index) in selectedTracks">
      <strong>{{ index + 1 }}.</strong> {{ value.artist }} - {{ value.title }}
    </div>
  </v-card>

</template>

<script>

  export default {
    props: {
      active: {
        type: Boolean,
        required: true
      }
    },
    computed: {
      selectedTracks: {
        get() {
          return this.$store.state.playlist.selectedTracks
        }
      }
    }
  }

</script>

<style scoped>
  .selected-songs-preview {
    position: fixed;
    z-index: 100;
    right: 5%;
    left: 5%;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    font-size: 0.75em;
  }
</style>
