<template>
  <div>
    <div class="selected-songs">
      <v-card
        max-width="500"
        min-height="700"
        color="#F8F8FF"
        class="mx-auto selected-song-card">
        <v-toolbar
          color="rgb(3, 46, 116)"
          dark>
          <v-toolbar-title class="subtitle-1">Selected Tracks</v-toolbar-title>
        </v-toolbar>
        <client-only>
          <draggable :disabled="alreadyVoted || alreadyVotedByEmail" v-bind:="{animation:150}" v-model="selectedTracks" tag="div" handle=".handle" @start="drag=true" @end="drag=false">
            <transition-group name="list" tag="p">
              <div class="draggable-item" v-for="(element, index) in selectedTracks" :key="element.id">
                <div class="remove-div handle">
                  <v-icon
                    color="blue">
                    mdi-drag
                  </v-icon>
                </div>
                <div class="place-div"><h3>{{ index + 1 }}</h3></div>
                <div class="track-div">{{element.artist}} - {{ element.title }}</div>
                <div :disabled="alreadyVoted || alreadyVotedByEmail" class="remove-div" @click="removeFromSelectedTracks(element)">
                  <v-icon
                    :disabled="alreadyVoted || alreadyVotedByEmail"
                    color="red">
                    mdi-minus-circle
                  </v-icon>
                </div>
              </div>
            </transition-group>
          </draggable>
        </client-only>

        <transition name="fade">
          <div v-if="selectedTracks.length === 5">
            <h4 class="email-vote-text">Vote by E-mail</h4>
          </div>
        </transition>

        <transition name="fade" >
          <v-card-actions v-if="selectedTracks.length === 5" class="justify-center">
            <v-text-field
              class="email-input"
              v-model="userEmail"
              :error-messages="emailErrors"
              label="Solo"
              @input="checkAndSetVotesIfExist()"
              placeholder="Email"
              :hide-details='true'
              solo
            ></v-text-field>
            <v-btn outlined :disabled="$v.userEmail.$invalid || alreadyVotedByEmail || emailSentNotSubmitted" :loading="votesProcessing" @click="castVotes()">Cast Votes</v-btn>
          </v-card-actions>
        </transition>

        <transition name="fade" mode="out-in">
          <v-alert class="white--text" v-if="alreadyVotedByEmail" :dismissible="false" color="purple" @input="facebookVotesCasted = !facebookVotesCasted">
            This email is already voted on this playlist!
          </v-alert>
        </transition>

        <transition name="fade" mode="out-in">
          <v-alert v-if="emailSentNotSubmitted" type="info">
            Success! Email with the confirmation link sent.
          </v-alert>
        </transition>

        <transition name="fade" mode="out-in">
          <v-alert v-if="emailFail" type="error">
            Something went wrong.
          </v-alert>
        </transition>

        <transition name="fade" mode="out-in">
          <div v-if="selectedTracks.length === 5">
            <h4 class="fb-vote-text">or Vote with your Facebook Account</h4>

            <client-only>
              <FacebookVote />
            </client-only>
          </div>
        </transition>

        <transition name="fade" >
          <v-card
            v-if="selectedTracks.length < 1"
            style="transition-delay: 0.5s"
            class="mx-auto info-card"
            color="purple"
            :height="selectedTracks.length < 1 ? 375 : 100"
            dark
          >
            <v-card-title>
              <v-icon
                large
                left
              >
                mdi-info
              </v-icon>

            </v-card-title>

            <v-card-text class="headline font-weight-bold justify-center">
              You need to select 5 tracks to cast your votes!
              <br>
              With every vote the Spotify Playlist will be reordered according to Your choices.
            </v-card-text>
            <v-card-text class="font-weight-bold justify-center">
              Tap or Click on the track to add it to your TOP 5!
            </v-card-text>
          </v-card>
        </transition>

      </v-card>
    </div>
  </div>
</template>

<script>
  import Api from '@/service/api'
  import {validationMixin} from 'vuelidate'
  import {required, minLength, maxLength, email} from 'vuelidate/lib/validators'
  import FacebookVote from '@/components/auth/FacebookVote'
  import SocialShare from '@/components/playlist/SocialShare'

  export default {
    data: () => ({
      userEmail: '',
      emailSentNotSubmitted: false,
      votesProcessing: false,
      alreadyVotedByEmail: false,
      emailFail: false
    }),
    components: {
      FacebookVote,
      SocialShare,
    },
    computed: {
      selectedTracks: {
        get() {
          return this.$store.state.playlist.selectedTracks
        },
        set(newSelectedTracksList) {
          this.$store.commit('playlist/setSelectedTracks', newSelectedTracksList)
        },
      },
      alreadyVoted: {
        get() {
          return this.$store.state.user.alreadyVoted
        },
        set(alreadyVoted) {
          this.$store.commit('user/setAlreadyVoted', alreadyVoted)
        },
      },
      emailErrors() {
        const errors = []
        if (!this.$v.userEmail.$dirty) return errors
        !this.$v.userEmail.email && errors.push('Your email must be valid!');
        !this.$v.userEmail.maxLength && errors.push('Your email cannot be more than 50 characters');
        !this.$v.userEmail.required && errors.push('Your email cannot be empty!');
        return errors
      },
    },
    methods: {
      removeFromSelectedTracks(element) {
        if (!this.alreadyVoted) {
          this.$store.commit('playlist/removeSelectedTrack', element)
        }
      },
      castVotes() {
        this.votesProcessing = true;
        const votes = this.selectedTracks.map(obj => ({
          songId: obj.id,
          place: this.selectedTracks.indexOf(obj) + 1
        }));
        Api().post('/vote/castVotes', {
          "userEmail": this.userEmail,
          "playlistId": process.env.NODE_ENV !== 'production' ? 2918 : 195,
          "voteRequestList": votes
        }).then(({data}) => {
          this.votesProcessing = false;
          this.emailSentNotSubmitted = true
        }).catch((error) => {
          this.votesProcessing = false;
          this.emailFail = true;
        });
      },
      checkAndSetVotesIfExist() {
        this.emailSentNotSubmitted = false;
        if (!this.$v.userEmail.$invalid) {
          Api().post('/vote/isUserAlreadyVotedOnThisPlaylist', {
            "userEmail": this.userEmail,
            "playlistId": process.env.NODE_ENV !== 'production' ? 2918 : 195,
          }).then(({data}) => {
            if (data) {
              this.alreadyVotedByEmail = true;
            } else {
              this.alreadyVotedByEmail = false;
            }
          }).catch((error) => {

          });
        }
      },
    },
    mixins: [validationMixin],
    validations: {
      userEmail: {
        required,
        maxLength: maxLength(50),
        email
      }
    },
  }

</script>

<style scoped>
  .draggable-item {
    cursor: pointer;
    padding: 5px 10px 5px 10px;
    border-bottom: #7f828b solid 1px;
    display: inline-block;
    width: 100%;
  }

  .place-div {
    display: table-cell;
    vertical-align: middle;
    width: 5%;
    height: 50px;
  }

  .track-div {
    display: table-cell;
    vertical-align: middle;
    width: 80%;
    height: 50px;
  }

  .remove-div {
    display: table-cell;
    vertical-align: middle;
    width: 10%;
    height: 100%;
  }

  .v-text-field.v-text-field--enclosed {
    margin-right: 10px;
  }

  .selected-songs {
    margin-bottom: 25px;
    position: relative;
  }

  .fb-vote-text {
    text-align: center;
    color: darkgray;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .email-vote-text {
    text-align: center;
    color: darkgray;
    margin-bottom: 5px;
    margin-top: 10px;
  }

  .info-card {

  }

  .list-enter-active, .list-leave-active {
    transition: all 0.5s;
  }
  .list-enter, .list-leave-to /* .list-leave-active below version 2.1.8 */ {
    opacity: 0;
    transform: translateY(30px);
  }

  .fade-enter-active, .fade-leave-active {
    transition: opacity 0.5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }
</style>
