<template>
  <v-card
    max-width="500"
    color="#032e74"
    class="mx-auto">
    <v-toolbar
      color="#D76D77">
      <v-toolbar-title class="subtitle-1">Playlist Tracks</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items>
        <v-text-field
          class="search-str-input"
          v-model="searchStr"
          @input="localSearchUpdate"
          label="Solo"
          placeholder="Quick search"
          :hide-details='true'
          solo
        ></v-text-field>
      </v-toolbar-items>
    </v-toolbar>

    <v-list id="songList" color="#032e74" flat>
      <v-list-item-group>
        <template v-for="(song, index) in songs">
          <v-list-item :key="song.id" @click="selectSong(song)"
                       :disabled="selectedTracks.length >= 5 && !selectedTracks.find(x => x.id === song.id)">
            <template>
              <v-list-item-content>
                <v-list-item-title class="white--text" v-text="song.artist"></v-list-item-title>
                <v-list-item-subtitle class="white--text song-title" v-text="song.title"></v-list-item-subtitle>
              </v-list-item-content>

              <v-list-item-action>
                <v-icon
                  v-if="!isActive(song)"
                  color="grey lighten-1">
                  mdi-plus-circle
                </v-icon>

                <v-icon
                  v-else
                  color="yellow">
                  mdi-star
                </v-icon>
              </v-list-item-action>
            </template>
          </v-list-item>

          <v-divider
            v-if="index + 1 < songs.length"
            :key="index"
          ></v-divider>
        </template>
        <client-only>
          <infinite-loading :identifier="infiniteId"@infinite="infiniteHandler">
            <div slot="no-more"></div>
            <div slot="no-results" class="white--text">No results :(</div>
          </infinite-loading>
        </client-only>

      </v-list-item-group>
    </v-list>
  </v-card>
</template>

<script>
  import InfiniteLoading from 'vue-infinite-loading'
  import Api from '@/service/api'

  export default {
    components: {
      InfiniteLoading,
    },
    data: () => ({
      page: 0,
      songs: [],
      infiniteId: +new Date(),
      selected: [],
      searchStr: ""
    }),
    computed: {
      selectedTracks: {
        get() {
          return this.$store.state.playlist.selectedTracks
        },
      }
    },
    methods: {
      infiniteHandler($state) {
        Api().post('/song/searchSongs', {
          "pageSize": 50,
          "page": this.page,
          "playlistId": process.env.NODE_ENV !== 'production' ? 2918 : 195,
          "searchStr": this.searchStr
        }).then(({data}) => {
          if (data.content.length) {
            this.page += 1;
            this.songs.push(...data.content);
            $state.loaded();
          } else {
            $state.complete();
          }
        });
      },
      selectSong(song) {
        if (this.$store.state.playlist.selectedTracks.length <= 5) {
          if (this.$store.state.playlist.selectedTracks.indexOf(song) >= 0) {
            this.$store.commit('playlist/removeSelectedTrack', song)
          } else {
            this.$store.commit('playlist/addSelectedTrack', song)
          }
        }
      },
      isActive(song) {
        return this.$store.state.playlist.selectedTracks.find(x => x.id === song.id);
      },
      localSearchUpdate: function (str) {
        this.page = 0;
        this.songs = [];
        this.infiniteId += 1;
      }
    },
  }
</script>

<style scoped>
  .search-str-input {
    align-items: center;
  }

  #songList {
    min-height: 1000px;
  }
</style>
