<template>
  <v-app style="
  background: #3A1C71;
  background: -webkit-linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71);
  background: linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71);
">
    <v-app-bar
      :clipped-left="clipped"
      fixed
      app
      color="#032e74"
    >
      <img class="mr-3" src="../assets/logo.png" height="40"/>
      <router-link to="/" class="main-title">
        <v-toolbar-title v-text="title"/>
      </router-link>
      <v-spacer></v-spacer>

      <router-link to="/whatisthis" class="main-title">
        <v-btn icon>
          <v-icon class="white--text">mdi-help-circle</v-icon>
        </v-btn>
      </router-link>


    </v-app-bar>
    <v-content>
      <SelectedSongListPreview :active="previewActive"></SelectedSongListPreview>
      <v-container>

        <nuxt/>
      </v-container>
    </v-content>
    <v-navigation-drawer
      v-model="rightDrawer"
      :right="right"
      temporary
      fixed
    >
      <v-list>
        <v-list-item @click.native="right = !right">
          <v-list-item-action>
            <v-icon light>
              compare_arrows
            </v-icon>
          </v-list-item-action>
          <v-list-item-title>Switch drawer (click me)</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-footer
      :fixed="fixed"
      app
      color="#032e74"
    >
      <span class="white--text">&copy; 2020 - GoldenDaysOfEDM</span>
    </v-footer>
  </v-app>
</template>

<script>
  import SelectedSongListPreview from '@/components/song/SelectedSongListPreview'


  export default {
    components: {
      SelectedSongListPreview: SelectedSongListPreview
    },
    data() {
      return {
        clipped: false,
        drawer: false,
        fixed: false,
        items: [
          {
            icon: 'apps',
            title: 'Welcome',
            to: '/'
          },
          {
            icon: 'bubble_chart',
            title: 'Inspire',
            to: '/inspire'
          }
        ],
        miniVariant: false,
        right: true,
        rightDrawer: false,
        title: 'Golden Days of EDM',
        scrollY: null,
        originalTop: 0,
        top: 20,
        previewActive: false
      }
    },
    mounted() {
      window.addEventListener('scroll', (event) => {
        this.scrollY = Math.round(window.scrollY);
      });
      this.originalTop = this.$el.getBoundingClientRect().top;
    },
    watch: {
      scrollY(newValue) {
        const rect = this.$el.getBoundingClientRect();
        const newTop = this.scrollY - this.originalTop;

        if (newTop > 1500) {
          this.previewActive = true;
        } else {
          this.previewActive = false;
        }
      }
    },
  }
</script>

<style>
  .main-title {
    text-decoration: none;
    color: whitesmoke;
  }
  .v-toolbar__title {
    color: whitesmoke;
    font-size: 1.5rem;
  }
</style>
