<template>
  <div>
    <PlaylistCard v-if="!topListVisible" :playlist="mainPlaylist"/>
    <PlaylistTopListCard v-if="topListVisible" />

    <client-only>
      <div class="button-div">
        <v-btn @click="topListVisible = !topListVisible"
               class="main-btn" outlined> {{ topListVisible ? 'See Details' : 'Check TOP 10' }}
        </v-btn>
      </div>
    </client-only>

    <SelectedSongList/>
    <SongList/>
  </div>

</template>

<script>
  import PlaylistCard from '@/components/playlist/PlaylistCard'
  import PlaylistTopListCard from '@/components/playlist/PlaylistTopListCard'
  import SelectedSongList from '@/components/song/SelectedSongList'
  import SongList from '@/components/song/SongList'

  export default {
    components: {
      PlaylistCard,
      PlaylistTopListCard,
      SelectedSongList,
      SongList,
    },
    data() {
      return {
        mainPlaylist: null,
        topListVisible: false
      }
    },
    asyncData(context) {
      return context.app.$axios.$get(process.env.NODE_ENV !== 'production' ? '/playlist/2918' : '/playlist/195')
        .then(data => {
          return {
            mainPlaylist: data
          }
        })
        .catch(e => context.error(e))
    },
  }
</script>

<style scoped>
  .button-div {
    text-align: center;
    margin-bottom: 15px;
  }
  .main-btn {
    color: white;
  }
</style>
