<template>
  <div class="facebook-vote">
    <client-only>
      <VFacebookLogin
        v-model="facebook.model"
        :app-id="facebook.appId"
        :style="buttonStyle"
        :transition="[ 'padding-right 0.15s ease-in-out' ]"
        @sdk-init="handleSdkInit"
        @login="handleLogin"
        @logout="handleLogout"
      >
        <template slot="after" slot-scope="{}">
          <img v-if="connected && fbuser.picture"
               class="facebook-photo"
               :src="fbuser.picture.data.url"
               alt="user-pic">
        </template>
        <template slot="login" slot-scope="{}">
          Connect your Facebook
        </template>
        <template slot="logout" slot-scope="{}">
          Disconnect your Facebook
        </template>
      </VFacebookLogin>
    </client-only>
    <v-btn @click="castVotes" :disabled="!connected || alreadyVoted || facebookVotesCasted" :loading="votesProcessing" class="facebook-vote-btn white--text" color="#3c57a4">Cast Votes</v-btn>

    <div>
      <transition name="fade">
        <v-alert v-if="facebookVotesCasted" :dismissible="false" type="success" @input="facebookVotesCasted = !facebookVotesCasted">
          Success! Votes casted.
        </v-alert>
      </transition>
      <transition name="fade">
        <SocialShare v-if="facebookVotesCasted" />
      </transition>
      <transition name="fade">
        <v-alert class="white--text" v-if="alreadyVoted" :dismissible="false" color="purple">
          You already voted on this Playlist. Your submitted votes loaded.
        </v-alert>
      </transition>
      <transition name="fade">
        <v-alert v-if="facebookVotesError" :dismissible="true" type="error" @input="facebookVotesError = !facebookVotesError">
          Something went wrong!
        </v-alert>
      </transition>
    </div>

  </div>

</template>

<script>
  import Api from '@/service/api'
  import SocialShare from '@/components/playlist/SocialShare'

  export default {
    data: () => ({
      facebook: {
        FB: {},
        model: {},
        appId: '455463428372550',
      },
      flags: {
        nopicture: false
      },
      votesProcessing: false,
      facebookVotesCasted: false,
      facebookVotesError: false,
    }),
    components: {
      SocialShare,
    },
    computed: {
      fbuser: {
        get() {
          return this.$store.state.fbauth.user
        },
        set(fbuser) {
          this.$store.commit('fbauth/setUser', fbuser)
        },
      },
      selectedTracks: {
        get() {
          return this.$store.state.playlist.selectedTracks
        },
        set(newSelectedTracksList) {
          this.$store.commit('playlist/setSelectedTracks', newSelectedTracksList)
        },
      },
      alreadyVoted: {
        get() {
          return this.$store.state.user.alreadyVoted
        },
        set(alreadyVoted) {
          this.$store.commit('user/setAlreadyVoted', alreadyVoted)
        },
      },
      connected() {
        return this.facebook.model.connected
      },
      disconnected() {
        return !this.connected
      },
      buttonStyle() {
        const rules = {
          position: 'relative',
          cursor: 'pointer'
        };
        if (this.connected && this.fbuser) {
          rules.paddingRight = '3.375rem'
        }
        return rules
      },
    },
    methods: {
      getUserData() {
        return new Promise((resolve) => {
          const {api} = this.facebook.FB;
          api('/me', {fields: 'id, name, email',}, user => {
            this.fbuser = Object.assign({}, this.fbuser, user);
            if (this.fbuser) {
              api(`${this.fbuser.id}/picture?width=9999&redirect=false`, picture => {
                if (picture) {
                  this.$store.commit('fbauth/setUserPic', picture);
                } else {
                  this.flags.nopicture = true
                }
              });
              resolve();
            }
          })
        });
      },
      checkAndSetVotesIfExist() {
        Api().post('/vote/votesByUserAndPlaylist', {
          "userEmail": this.fbuser.email,
          "playlistId": process.env.NODE_ENV !== 'production' ? 2918 : 195,
        }).then(({data}) => {
          if (data.length > 0) {
            this.selectedTracks = data.map(v => v.song);
            this.alreadyVoted = true;
          }
        }).catch((error) => {

        });
      },
      handleSdkInit({FB}) {
        this.facebook.FB = FB
      },
      handleLogin(loginRes) {
        this.$store.commit('fbauth/setAccessToken', loginRes?.authResponse.accessToken);
        this.getUserData().then(() => {
          this.checkAndSetVotesIfExist();
        });
      },
      handleLogout() {
        this.alreadyVoted = false;
        this.fbuser = {};
      },
      castVotes() {
        this.votesProcessing = true;
        const votes = this.selectedTracks.map(obj => ({
          songId: obj.id,
          place: this.selectedTracks.indexOf(obj) + 1
        }));
        Api().post('/vote/castVotesWithFacebook', {
          "userEmail": this.fbuser.email,
          "facebookUserId": this.fbuser.id,
          "facebookAccessToken": this.fbuser.accessToken,
          "playlistId": process.env.NODE_ENV !== 'production' ? 2918 : 195,
          "voteRequestList": votes
        }).then(({}) => {
          this.facebookVotesCasted = true;
          this.votesProcessing = false;
        }).catch((error) => {
          this.facebookVotesError = true;
          this.votesProcessing = false;
        });
      }
    }
  }
</script>

<style>
  .facebook-vote {
    text-align: center;
  }
  .facebook-vote-btn {
    color: #3c57a4;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .facebook-photo {
    margin-left: 10px;
    width: 7%;
    border-radius: 15px;
  }
  .v-facebook-login {
    width: 100%;
  }
  .v-alert__icon.v-icon {
    display: none;
  }

  .fade-enter-active, .fade-leave-active {
    transition: opacity 0.5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }
</style>
